
.DS_Store
/Messenger/obj
/Messenger/obj
/Messenger/bin
/Messenger/bin/Debug
/Messenger/bin
Messenger/obj/Debug/net8.0/Messenger.csproj.CoreCompileInputs.cache
Messenger/obj/Debug/net8.0/Messenger.csproj.CopyComplete
/Messenger/bin
/Messenger/bin
/Messenger/bin
